{
  "config": {
    "appkey": "9C92C5D2-6815-11EB-A240-A7F092322438",
    "account" : "chamberlain",
    "accountName": "chamberlain",
    "igniteLiteURL" : "",
    "locatorSearchRestURL" : "https://api.brandify.com/rest/locatorsearch",
    "getListURL" : "https://api.brandify.com/rest/getlist",
    "netconfig" : "",
    "autoStart": true,
    "icons" : {
      "default" : "http://hosted.where2getit.com/w2gi/images/icons/gray-pin-shadow.png",
      "red" : "http://hosted.where2getit.com/w2gi/images/icons/red-pin-shadow.png",
      "gray" : "http://hosted.where2getit.com/w2gi/images/icons/gray-pin-shadow.png"
    },
    "logos":{
      "default" : ""
    },
    "baseStoreImagePathURL" : "",
    "defaultStoreImagePathURL" : "",
    "sendToEmailImagePathURL" : "",
    "sendToPhoneImagePathURL" : "",
    "panMilesBeforeRefresh" : 2.0,
    "locator": {
      "formdata": {
        "nobf":false,
        "dataview": "store_default",
        "limit": 10,
        "geoip": 1,
        "geolocs": {
          "geoloc": [{
            "addressline": "",
            "country": "",
            "latitude": "",
            "longitude": ""
          }]
        },
        "radiusuom" : "mile",
        "searchradius": "25|50|100|250|500|1000",
        "order": "_DISTANCE ASC",
        "reviews": {
          "gg": 1
        },
        "social": {
          "gg": 1
        },
        "reviewcount": {
          "gg": 1
        },
        "where": {
          "and": {
            "diagnostics": "1",
            "brandname": {
              "eq": ""
            },
            "country": "US"
          }
        }
      }
    },
    "getlist": {
      "request": {
        "appkey": "",
        "account": "",
        "formdata": {
          "reviews": {
            "gg": 1
          },
          "social": {
            "gg": 1
          },
          "reviewcount": {
            "gg": 1
          },
          "where": {
            "diagnostics": "1",
            "externalid": "",
            "clientkey": "",
            "name": "",
            "country": "US"
          }
        }
      }
    }
  }
}