{
  "config": {
    "appkey": "F4B1F340-2FC8-11E5-AE60-A7EBB845EC6E",
    "account": "chamberlain",
    "igniteLiteURL": "",
    "locatorSearchRestURL": "https://api.where2getit.com/rest/locatorsearch",
    "getListRestURL": "https://api.where2getit.com/rest/getlist",
    "netconfig": "",
    "autoStart": true,
    "icons": {
      "default": "http://hosted.where2getit.com/w2gi/images/icons/gray-pin-shadow.png",
      "red": "http://hosted.where2getit.com/w2gi/images/icons/red-pin-shadow.png",
      "gray": "http://hosted.where2getit.com/w2gi/images/icons/gray-pin-shadow.png"
    },
    "logos": {
      "default": ""
    },
    "baseStoreImagePathURL": "",
    "defaultStoreImagePathURL": "",
    "sendToEmailImagePathURL": "",
    "sendToPhoneImagePathURL": "",
    "panMilesBeforeRefresh": 2.0,
    "locator": {
      "formdata": {
        "nobf": false,
        "dataview": "store_default",
        "limit": 10,
        "geoip": 1,
        "geolocs": {
          "geoloc": [
            {
              "addressline": "",
              "country": "",
              "latitude": "",
              "longitude": ""
            }
          ]
        },
        "radiusuom": "mile",
        "searchradius": "25|50|100|250|500|1000",
        "order": "_DISTANCE ASC",
        "reviews": {
          "gg": 1
        },
        "social": {
          "gg": 1
        },
        "reviewcount": {
          "gg": 1
        },
        "where": {
        }
      }
    },
    "getlist": {
      "request": {
        "appkey": "",
        "account": "",
        "formdata": {
          "where": {
            "externalid": "",
            "name": ""
          }
        }
      }
    }
  }
}